@-ms-viewport { width:device-width; }
@media only screen and (min-device-width:800px) { html { overflow:hidden; } }
html { height:100%; }
body { height:100%; overflow:hidden; margin:0; padding:0; font-family:微软雅黑, Arial, Helvetica, sans-serif; font-size:16px; color:#FFFFFF; background-color:#000000; }
a{color: #ddd; text-decoration: none;}
a img{border:none;}
ul{list-style: none; padding: 0; margin:0;}
input[type="button"], input[type="submit"], input[type="reset"] { -webkit-appearance: none;}
textarea { -webkit-appearance: none;}

.pano-make { color: #333; width: 450px; margin: 30px auto 0;}
.pano-make i { margin-right: 4px;}
.pano-make span { width: 70px; margin-right: 10px; display: inline-block; font-size: 14px; text-align: right; float: left;}
.pano-make ul li { margin-bottom: 10px;}
.pano-make ul li.last { text-align: center}
.pano-make .texteare { width: 350px;}
.mobile span { display: none;}

.pano-make .select { width: 145px; border: 1px solid #ddd ; padding: 10px}
.select { background: url(/images/new/selectbg.jpg) 92% 16px no-repeat; font-size: 14px;}
input[type="button"], input[type="submit"], input[type="text"], input[type="texteare"],select {
-webkit-appearance: none;}
.mymobile { width: 100%; padding: 10px 30px; margin: 10px auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;} 
.mymobile .text1 { width: 100%!important; height: 42px!important;  outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; font-size: 14px;}
.mymobile .texteare { width: 100%; height: 70px!important; outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 14px;}
.mymobile .select { padding: 6px; width:65%; float: right; height: 42px!important; background: url(/images/new/selectbg.jpg) 96% 18px no-repeat; font-size: 14px;border: none; }

.mymobile .xqlx-box { width: 100%; height: 42px!important; line-height: 32px; -webkit-border-radius: 2px!important; -moz-border-radius: 2px!important; -ms-border-radius: 2px!important; -o-border-radius: 2px!important; border-radius: 2px!important; border: 1px solid #ddd ; }
.mymobile .xqlx { width: 30%; text-align: center; color: #999; display: block; border-right: 1px solid #ddd; line-height: 42px!important;}

.pano-wrapper .tel { position: absolute; left: 0px; top: -40px;}

.pano-wrapper{ position: fixed; right: 20px; bottom: 23px; font-size: 14px; }
.pano-wrapper li{ width: 70px; height: 70px; float: right; position: relative; text-align: center; }
.pano-wrapper .iconname{ padding-top: 0px; }
.pano-wrapper .icon{ width: 36px; cursor: pointer; }
.pano-wrapper .tel{ padding: 0 10px; height: 30px; line-height: 30px; /*position: fixed; right: 10px; bottom: 115px; */color: #ddd; background: rgba(70,70,70,.8); }
.pano-wrapper .ewm{width: 200px; height: 200px; position: fixed; right: 35px; bottom: 115px;}
.pano-wrapper .ewm img{width:200px; height: 200px;}

.layui-layer-rim{ border: 10px solid #8D8D8D; border: 10px solid rgba(0,0,0,.3);  }
.layui-layer-title{ font-size: 18px;  background: #f3f3f3; height: 50px; line-height: 50px; }
.intro{color: #666; line-height: 35px; font-size: 16px;}
.top-advert{position: fixed;top:0px; z-index: 999999999; font-size: 14px; height: 36px;line-height: 36px;background: rgba(0,0,0,.3);width: 100%;text-align: center;overflow: hidden}
.top-advert .top-close { position: absolute; right: 5px; top: 9px; }
.top-advert i {  background: url(//res1.justeasy.cn/images/vr-close.png); display: block; width: 18px; height: 18px; cursor: pointer;}

@media(max-width: 500px){
	body{font-size:14px;}
	.pano-wrapper{ bottom: 0px; right: 0px;  font-size: 14px;}
	.pano-wrapper li{ width: 60px; height: 60px;}
	.pano-wrapper .iconname{ padding-top: 0px; }
	.pano-wrapper .icon{ width: 30px; cursor: pointer; }
	.pano-wrapper .share{display: none;}
	.layui-layer-rim,.layui-layer-hui{ width: 80% !important;}
	.layui-layer-rim iframe,.layui-layer-hui iframe{width: 100% !important;}
	.pano-wrapper .mdesigner{display: block !important; position: fixed; left: 60px;}
	.pano-wrapper .mdesigner1{display: block !important; position: fixed; left: 110px;}
	.pano-wrapper .scenes{display: block !important; position: fixed; left: 10px;}
	.top-advert .top-close { position: absolute; right: 10px; top: 4px; }
}
@media(max-width: 375px){
	.pano-wrapper{ bottom: 0px; right: 0px;   font-size: 12px;}
	.pano-wrapper li{ width: 50px; height: 50px;}
	.pano-wrapper .iconname{ padding-top: 0px; }
	.pano-wrapper .icon{ width: 25px; cursor: pointer; }
	.pano-wrapper .share{display: none;}
	.layui-layer-rim,.layui-layer-hui{ width: 80% !important;}
	.layui-layer-rim iframe,.layui-layer-hui iframe{width: 100% !important;}
	.pano-wrapper .mdesigner{display: block !important; position: fixed; left: 60px;}
	.pano-wrapper .mdesigner1{display: block !important; position: fixed; left: 110px;}
	.pano-wrapper .scenes{display: block !important; position: fixed; left: 10px;}
	.top-advert .top-close { position: absolute; right: 10px; top: 4px; }
}
@media(max-width: 320px){
	.pano-wrapper{ bottom: 0px; right: 0px;   font-size: 10px;}
	.pano-wrapper li{ width: 40px; height: 50px;}
	.pano-wrapper .iconname{ padding-top: 0px; }
	.pano-wrapper .icon{ width: 20px; cursor: pointer; }
	.pano-wrapper .share{display: none;}
	.layui-layer-rim,.layui-layer-hui{ width: 80% !important;}
	.layui-layer-rim iframe,.layui-layer-hui iframe{width: 100% !important;}
	.pano-wrapper .mdesigner{display: block !important; position: fixed; left: 40px;}
	.pano-wrapper .mdesigner1{display: block !important; position: fixed; left: 90px;}
	.pano-wrapper .scenes{display: block !important; position: fixed; left: 0px;}
	.top-advert .top-close { position: absolute; right: 10px; top: 4px; }
}
.none{ display: none }
.pop{margin-top:40px;text-align:center;}
.pop .pwd{width:155px;height:35px;margin-right:20px;line-height:35px;padding:0 5px;border:1px solid #ccc;font-size:16px;}
.pop .submit{background:#F6BB42;color:#fff;padding:7px 14px;font-weight: 400;border-radius:4px;font-size:16px;}